---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
  <h1>Welcome to Middleman</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div>

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
      <div class="banner-content">
        <h1>FRONT IS BORING</h1>
        <p>It is also anoying</p>
        <%= link_to "GET IT", "", class: "btn btn-primary btn-lg" %>
      </div>
  </div>

    <%= partial "card" %>
    <%= partial "city-cards" %>

    <div class="text-center padded">
          <h2>Get news from us:</h2>
          <p>Drop your e-mail below and maybe we'll be in touch</p>
          <form action="#">
            <input type="email" id="your-email" placeholder="bob@gmail.com">
            <input class="btn btn-info" type="submit" value="Sign In">
          </form>
        </div>

    <%= partial "map" %>


